.sidebar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.5rem; /* Equivalent to space-y-6 in Tailwind */
  margin-top: 0.5rem; /* Equivalent to mt-2 in Tailwind */
}

.iconWrapper {
  background-color: white;
  border-radius: 9999px; /* Full rounding for a circular shape */
  max-width: fit-content;
  padding: 0.5rem;
}
