/* Sidebar.css */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.icon-container {
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
  max-width: fit-content;
}
